# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kumodoc?schema=public"

# Admin Access PIN
ADMIN_PIN="030347"

# Session Secret
SESSION_SECRET="kumo-ui-docs-secret-key-2026"
